@CHARSET "utf-8";

body {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	padding: 2px;
	border: solid 1px #CCAABB;
}

#menubar {
}

#maincontainer {
	
}

#statusbar {
	
}

#extendedcontainer {
	
}

#leftPanel {
	
}

#mainPanel {
	
}

#rightPanel {
	
}